{
  "extends": ["standard"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "semi": [2, "always"],
    "camelcase": [0, {"properties": "never"}]
  },
  "globals": {
    "__DEV__": true,
    "__DEVICE_MODE__": true,
    "fetch": true,
    "window": true,
    "localstorage": true
  }
}
